<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CDN CSS (remote) -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- CSS (local) -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />

    <title>My Burgers Website</title>
  </head>
  <body>
    <!-- I) HEADER SECTION-->
    <header>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand flex-grow-1">
            <strong>My Burgers Website</strong>
          </a>
          <div>
            <a href="/restaurants/new" class="btn btn-link"
              ><u class="text-white font-weight-bold">New Restaurant</u></a
            >
          </div>
          <div>
            <a href="/burgers/new" class="btn btn-link"
              ><u class="text-white font-weight-bold">New Burger</u></a
            >
          </div>
          <div>
            <a href="/toppings/new" class="btn btn-link"
              ><u class="text-white font-weight-bold">New Toping</u></a
            >
          </div>
        </div>
      </div>
    </header>

    <!-- II) MAIN SECTION -->
    <main>
      {% if not burgers %}
      <div class="container text-center">
        <h1 class="my-4"> No burgers added yet!</h1>
        <img class="img-thumbnail" src="{{ url_for('static',filename='img/hamburger-crying.png') }}">
      </div>
      {% endif %}
      <div class="container d-flex justify-content-around flex-wrap">
        {% for burger in burgers %}
        <div class="card col-3 bg-light mx-2 mt-4">
          <!-- Card Body -->
          <div class="card-body d-flex flex-column">
            <!-- Card Body - Part 1 -->
            <div class="flex-grow-1">
              <h2 class="card-title">
                <a href="/burgers/{{burger.id}}">{{ burger.name }}</a>
              </h2>
              <ul class="card-text list-unstyled">
                <li>Bun: {{burger.bun}}</li>
                <li>Meat: {{burger.meat}}</li>
                <li>Calories: {{burger.calories}}</li>
                <li>Restaurant ID: {{burger.restaurant_id}}</li>
              </ul>
              <p className="mt-2">
                <a  href="/restaurants/{{burger.restaurant_id}}">
                  <u>Check Restaurant!</u>
                </a>
              </p>
            </div>
            <!-- Card Body - Part 2 -->
            <div class="mt-4 align-self-end">
              <a
                href="/burgers/{{burger.id}}/edit"
                class="btn btn-outline-success btn-sm"
                >Edit</a
              >
              <a
                href="/burgers/{{burger.id}}/delete"
                class="btn btn-outline-danger btn-sm"
                >Delete</a
              >
            </div>
          </div>
          <!-- Card Footer -->
          <div class="card-footer bg-light mb-3">
            <p class="card-subtitle small">
              Created on: {{ burger.created_at.strftime("%B %d, %Y at %H:%M:%S")
              }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
