<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CDN CSS (remote) -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- CSS (local) -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />

    <title>My Burgers Website</title>
  </head>
  <body>
    <!-- I) HEADER SECTION-->
    <header>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand flex-grow-1">
            <strong>My Burgers Website</strong>
          </a>
          <div>
            <a href="/burgers/new" class="btn btn-link"
              ><u class="text-white font-weight-bold">New Burger</u></a
            >
          </div>
          <div>
            <a href="/toppings/new" class="btn btn-link"
              ><u class="text-white font-weight-bold">New Toping</u></a
            >
          </div>
          <div>
            <a href="/burgers" class="btn btn-link"
              ><u class="text-white font-weight-bold">Home</u></a
            >
          </div>
        </div>
      </div>
    </header>

    <!-- II) MAIN SECTION -->
    <main>
      <form
        action="/restaurants/new"
        method="post"
        class="p-4 w-25 mx-auto mt-5 mb-4 bg-dark text-light"
      >
        <h2 class="text-center">Create Restaurant:</h2>
        
        {% with messages = get_flashed_messages() %} 
          {% if messages %}
            <ul class="alert alert-danger list-unstyled">
              {% for message in messages %}
              <li>{{message}}</li>
              {% endfor %}
            </ul>
          {% endif %} 
        {% endwith %}

        <div class="form-group">
          <label for="name">Restaurant Name:</label>
          <input type="text" name="name" id="name" class="form-control" />
        </div>

        <input type="submit" value="Create Restaurant" class="btn btn-success" />
      </form>

      <div class="w-25 mx-auto">
        <hr />
        <h3>Restaurants Added:</h3>
        <ul>
          {% for restaurant in restaurants %}
          <li>
            {{restaurant.name}}
            <a
              href="/restaurants/{{restaurant.id}}/delete"
              class="btn btn-outline-danger btn-sm py-0 align-top"
              >Delete</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
