<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CDN CSS (remote) -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CDN Icons (remote) -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />

    <!-- CSS (local) -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />

    <title>Private Wall App</title>

</head>
<body>
    <!-- I) HEADER SECTION-->
    <header>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand flex-grow-1">
            <i class="bi bi-bricks mr-2"></i>
            <strong>Private Wall App</strong>
          </a>
        </div>
      </div>
    </header>

    <!-- II) MAIN SECTION -->
    <main class="container">
        <div class="d-flex justify-content-between align-items-center py-2 px-5">
            <h1 class="text-center">Coding Dojo Wall</h1>
            <h2 class="text-center">Welcome {{user.first_name}}!!!</h2>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>

        <hr />

      <div class="d-flex justify-content-around">
        <!-- 2.1) Left Panel -->
        <div class="col-5 bg-dark text-light">
          <h2 class="text-center">{{messages|length}} messages for you</h2>
          <hr class="bg-warning" />

          {% for message in messages %}
            <div class="card bg-primary my-2">
                <div class="card-body">
                    <h3 class="card-title">
                        {{message.sender}} said {{message.time_span()}}:
                    </h3>
                    <p class="card-text">{{message.content}}</p>
                </div>
                <div class="card-footer">
                    <a href="/destroy/message/{{message.id}}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
          {% endfor %}
        </div>

        <!-- 2.2) Right Panel -->
        <div class="col-5 bg-dark text-light">
          <h2 class="text-center">Send a Message:</h2>
          <hr class="bg-warning" />
          {% for u in users %} 
            {% if u.id != session.user_id %}
                <form class="p-2" action="/post_message" method="post">
                    <!-- Hiden Inputs (sender id and receiver id) -->
                    <input type="hidden" name="sender_id" value="{{session.user_id}}" />
                    <input type="hidden" name="receiver_id" value="{{u.id}}" />
                    <!-- Message Content -->
                    <label for="receiver_id">Message {{u.first_name}}:</label>
                    <textarea
                      class="form-control"
                      name="content"
                      id=""
                      cols="30"
                      rows="3"
                    ></textarea>
                    <input type="submit" value="Message" class="btn btn-warning" />
                </form>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </main>
</body>
</html>