* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.wrapper {
  padding: 25px;
  background-color: lightgrey;
}

.container {
  width: 100%;
}

h1 {
  text-align: center;
  margin: 0 auto 10px;
}

.boxContainer{
  margin: 0px auto;
}

.boxOne {
  
  width: 80px;
  height: 80px;
  background-color: white;
}

.boxTwo {
  
  width: 80px;
  height: 80px;
  background-color: black;
}